/* <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />  */

//reset so we can work with a blank slate
@import 'compass';
@include global-reset;

//import mixins and initial variabls
//@import 'modules/line/all';

//variables set here for each template

$base-font-size: 11.75pt;
$base-line-height: 16pt;
$base-text-indent: 15pt;

$base-padding: $base-line-height * .375;

$base-half-line-space: $base-line-height / 2;
$base-single-line-space: $base-line-height;
$base-two-line-space: $base-line-height * 2; 
$base-three-line-space: $base-line-height * 3;

$base-font-size-dub: $base-font-size * 2;
$base-font-size-trip: $base-font-size * 3;

$caption-font-size: $base-font-size * .85;
$caption-line-height: $base-line-height * .8125;

$index-indent: 20pt;

%font-transform{
	$text-transform:uppercase;
	$letter-spacing: .1em;
}
%font-body{
	font-family: SAT_regular;
	-webkit-hyphens:auto;
	hyphens:auto;
	font-size:$base-font-size;
	line-height: $base-line-height;
	text-indent: $base-text-indent;
	text-align: justify;
	margin: 0;
}
%font-index{
	font-size:$base-font-size * .77;
	line-height: $base-line-height * .68;
	text-indent: -1 * $index-indent;
	margin-left: $index-indent;
}

%font-rear{
	font-size:$base-font-size * .85;
	line-height: $base-line-height *.75;

}

body {
	@extend %font-body;
}

//partial imports here
@import 'partials/line/all';
