/* footend notes */
p .FN {
  display: prince-footnote;
  counter-increment: footnote;
  color: black;
  footnote-style-position: inside;
}

body span.FN span, li span span {
  display: block;
}

body span.FN span.NFIRST {
  display: inline;
}

body span.EN span:before, body span.FN span:before {
  content: "";
}

body span.NFIRST:before, body span.NTEXT:before, body span.NFIRST:after, body span.NTEXT:after {
  content: "";
}

.FN::footnote-call {
  content: $fn-symbols;
  font-size: 80%;
  vertical-align: super;
  line-height: none;
}

.FN::footnote-marker {
  content: $fn-symbols;
  font-weight: bold;
  margin-right: 4pt;
}

/*for illustration list */
#illustrations ul a:after {
  content: leader(" ") " " target-counter(attr(href, url), page);
}