/*center vertically and horizontally */
#title, #half-title, #epigraph {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* position on the bottom */
#copyright {
  position: absolute;
  bottom: 0;
}

/* toc */
#contents {
  margin-top: $section-header-margin-top;
}