/* set Booktitle, Authortitle and Chaptertitle variables */
.TTLPGTTL {
  string-set: Booktitle content();
}

div > h2:first-of-type {
  string-set: Chaptertitle content();
}

.TTLPGAU span:first-of-type {
  string-set: Authorname content();
}
