/* line 17, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/berlin-line.scss */
body {
  font-family: SAT_regular, sarif;
  font-size: 11.75pt;
  line-height: 16pt;
  text-indent: 15pt;
  text-align: justify;
  margin: 0;
}

/* three dot text break "\a0" is a utf-8 space "\2022" is a dot */
/* line 9, ../sass/partials/line/_breaks.scss */
.TXBDINGBATS {
  text-align: center;
  line-height: 16pt;
  margin: 8pt 0 8pt 0;
  content: "\2022 \a0 \a0 \a0 \a0 \a0 \2022 \a0 \a0 \a0 \a0 \a0 \2022 ";
}

/* line 12, ../sass/partials/line/_breaks.scss */
*[class*='TXB'] {
  text-align: center;
  line-height: 16pt;
  margin: 8pt 0 8pt 0;
  content: "";
}
/* line 14, ../sass/partials/line/_breaks.scss */
*[class*='TXB'] + p {
  text-indent: 0;
}

/* display paragraphs symbol and keep inline in editor */
/* line 3, ../sass/partials/line/_editor.scss */
span span {
  display: inline;
}

/* line 6, ../sass/partials/line/_editor.scss */
span.EN span:before, span.FN span:before {
  content: "\00B6";
}

/* line 9, ../sass/partials/line/_editor.scss */
.NFIRST:before {
  content: "[1st\00B6]";
}

/* line 12, ../sass/partials/line/_editor.scss */
.NFIRST:after {
  content: "[E1st\00B6]";
}

/* line 15, ../sass/partials/line/_editor.scss */
.NTEXT:before {
  content: "[\00B6]";
}

/* line 18, ../sass/partials/line/_editor.scss */
.NTEXT:after {
  content: "[E\00B6]";
}

/* wysiwyg controls */
/* line 24, ../sass/partials/line/_editor.scss */
em {
  font-family: SAT_italic;
  padding: 0;
  margin: 0;
}

/* line 29, ../sass/partials/line/_editor.scss */
strong {
  font-family: SAT_semibold;
}

/* line 32, ../sass/partials/line/_editor.scss */
.left {
  text-align: left;
}

/* line 35, ../sass/partials/line/_editor.scss */
.right {
  text-align: right;
}

/* line 38, ../sass/partials/line/_editor.scss */
.center {
  text-align: center;
}

/* line 41, ../sass/partials/line/_editor.scss */
.full {
  text-align: justify;
}

/* line 44, ../sass/partials/line/_editor.scss */
.FIGTOP {
  float: top;
}

/* line 47, ../sass/partials/line/_editor.scss */
.FIGBOT {
  float: bottom;
}

/* line 50, ../sass/partials/line/_editor.scss */
.BGLET {
  letter-spacing: .5em;
}

/* line 53, ../sass/partials/line/_editor.scss */
.SMLET {
  letter-spacing: -.05em;
}

/* line 56, ../sass/partials/line/_editor.scss */
.SMWRD {
  word-spacing: -.2em;
}

/* line 59, ../sass/partials/line/_editor.scss */
.BGWRD {
  word-spacing: 1em;
}

/* line 62, ../sass/partials/line/_editor.scss */
.SMLN {
  line-height: 80%;
}

/* line 65, ../sass/partials/line/_editor.scss */
.BGLN {
  line-height: 120%;
}

/* line 69, ../sass/partials/line/_editor.scss */
.indent2 {
  text-indent: 4em;
}

/* line 73, ../sass/partials/line/_editor.scss */
.indent3 {
  text-indent: 6em;
}

/* line 76, ../sass/partials/line/_editor.scss */
.no_indent {
  text-indent: 0;
}

/* line 2, ../sass/partials/line/_headings-masculine.scss */
.TTLPGTTL, .TTLPGSUB, .TTLPGAU, .CONTRIB, .HTTLPGTTL, .CHAPTTL, .CHAPSUB, .CHAPNUM, .PARTNUM, .PARTTTL, .FMTTL, .RMTTL, h4, [class$="A"], h5, .FMB, .BMB, .RMB, .B, [class$="C"] {
  -webkit-hyphens: none;
  hyphens: none;
  text-decoration: none;
  display: block;
  text-indent: 0;
}

/* line 29, ../sass/partials/line/_headings-masculine.scss */
.TTLPGSUB, .CHAPTTL, .PARTNUM, .FMTTL, .RMTTL {
  background-color: black;
  color: white;
  padding-left: 5pt;
}

/* title page title h1*/
/* line 36, ../sass/partials/line/_headings-masculine.scss */
.TTLPGTTL {
  font-family: SAT_disp_bold;
  font-size: 32.3125pt;
  line-height: 44pt;
  text-align: left;
  margin-top: 32.3125pt;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* title page subtitle h3*/
/* line 41, ../sass/partials/line/_headings-masculine.scss */
.TTLPGSUB {
  font-family: SAT_italic, italic;
  font-size: 19.975pt;
  line-height: 27.2pt;
  text-align: left;
  margin-top: 72pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* title page author h4*/
/* line 46, ../sass/partials/line/_headings-masculine.scss */
.TTLPGAU {
  font-family: SAT_regular;
  font-size: 17.625pt;
  line-height: 24pt;
  text-align: left;
  margin-top: 72pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* line 51, ../sass/partials/line/_headings-masculine.scss */
.CONTRIB {
  font-family: SAT_regular;
  font-size: 11.75pt;
  line-height: 16pt;
  text-align: center;
  margin-top: 11.75pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* half title page title h1*/
/* line 55, ../sass/partials/line/_headings-masculine.scss */
.HTTLPGTTL {
  font-family: SAT_regular;
  font-size: 26.4375pt;
  line-height: 36pt;
  text-align: left;
  margin-top: 48pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* line 60, ../sass/partials/line/_headings-masculine.scss */
.CHAPTTL + p, .CHAPSUB + p {
  text-indent: 0;
  margin-top: 32pt;
}

/* chapter title h2*/
/* line 63, ../sass/partials/line/_headings-masculine.scss */
.CHAPTTL {
  font-family: SAT_regular;
  font-size: 17.625pt;
  line-height: 24pt;
  text-align: left;
  margin-top: 48pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* chapter subtitle h3*/
/* line 69, ../sass/partials/line/_headings-masculine.scss */
.CHAPSUB {
  font-family: SAT_regular;
  font-size: 11.75pt;
  line-height: 16pt;
  text-align: center;
  margin-top: 11.75pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* chapter number h6*/
/* line 74, ../sass/partials/line/_headings-masculine.scss */
.CHAPNUM {
  font-family: SAT_semibold;
  font-size: 15.6275pt;
  line-height: 21.28pt;
  text-align: center;
  margin-top: 48pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* part num */
/* line 79, ../sass/partials/line/_headings-masculine.scss */
.PARTNUM {
  font-family: SAT_semibold;
  font-size: 17.625pt;
  line-height: 24pt;
  text-align: center;
  margin-top: 48pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* part title */
/* line 85, ../sass/partials/line/_headings-masculine.scss */
.PARTTTL {
  font-family: SAT_regular;
  font-size: 17.625pt;
  line-height: 24pt;
  text-align: center;
  margin-top: 17.625pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* front matter title */
/* line 89, ../sass/partials/line/_headings-masculine.scss */
.FMTTL {
  font-family: SAT_regular;
  font-size: 17.625pt;
  line-height: 24pt;
  text-align: left;
  margin-top: 48pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* rear matter title */
/* line 95, ../sass/partials/line/_headings-masculine.scss */
.RMTTL {
  font-family: SAT_regular;
  font-size: 17.625pt;
  line-height: 24pt;
  text-align: left;
  margin-top: 48pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* a */
/* line 108, ../sass/partials/line/_headings-masculine.scss */
h4, [class$="A"] {
  font-family: SAT_regular;
  font-size: 11.75pt;
  line-height: 16pt;
  text-align: center;
  margin-top: 11.75pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* b */
/* line 114, ../sass/partials/line/_headings-masculine.scss */
h5, .FMB, .BMB, .RMB, .B {
  font-family: SAT_italic, serif;
  font-size: 11.75pt;
  line-height: 16pt;
  text-align: left;
  margin-top: 16pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/*c*/
/* line 119, ../sass/partials/line/_headings-masculine.scss */
[class$="C"] {
  font-family: SAT_regular;
  font-size: 1.175pt;
  line-height: 1.6pt;
  text-align: left;
  margin-top: 1.175pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* line 123, ../sass/partials/line/_headings-masculine.scss */
.CRUNIN {
  margin-top: 11.75pt;
  text-align: justify;
  text-indent: 0px;
}

/* images */
/* line 2, ../sass/partials/line/_images.scss */
img {
  border: none;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 3, ../sass/partials/line/_images.scss */
.FIGTOP {
  margin-bottom: 32pt;
}

/* line 4, ../sass/partials/line/_images.scss */
.CAP {
  padding-top: 6pt;
  font-size: 9.9875pt;
  line-height: 13pt;
  -webkit-hyphens: none;
  hyphens: none;
  text-align: left;
}

/* line 12, ../sass/partials/line/_images.scss */
#title img {
  width: 35%;
}

/* line 16, ../sass/partials/line/_images.scss */
.FIGTOP {
  float: top;
}

/* line 19, ../sass/partials/line/_images.scss */
.FIGBOT {
  float: bottom;
}

/* first line of every chapter 
#body-matter .chapter > p:first-of-type:first-line { 
font-variant:small-caps;
}
*/
/* Big cap */
/* line 7, ../sass/partials/line/_initials.scss */
#body-matter .chapter > p:first-of-type:first-letter {
  font-family: SAT_regular, sarif;
  float: left;
  font-size: 32pt;
  /*36pt*/
  line-height: 32pt;
  /*32pt*/
  padding-right: 1pt;
  margin-top: 3pt;
  margin-bottom: -11.75pt;
  /*-11.75pt*/
}

/* no underlines in links */
/* line 3, ../sass/partials/line/_links.scss */
a:link {
  color: inherit;
  text-decoration: none;
}

/* line 7, ../sass/partials/line/_links.scss */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 8, ../sass/partials/line/_links.scss */
a:hover {
  color: inherit;
}

/* line 1, ../sass/partials/line/_lists.scss */
ul {
  text-align: left;
  list-style-type: none;
}

/* line 5, ../sass/partials/line/_lists.scss */
.BuLst, .BuLst1st, .BuLstMd, .BuLstLs {
  indent: 20pt;
}

/* line 3, ../sass/partials/line/_toc.scss */
#contents {
  margin: 0;
}

/* line 6, ../sass/partials/line/_toc.scss */
#contents .toc_bd {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/partials/line/_toc.scss */
#contents .toc_fm {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/line/_toc.scss */
#contents .toc_rm {
  margin: 20pt 0 0 0;
  padding: 0;
}

/* line 18, ../sass/partials/line/_toc.scss */
li.TOCFM {
  padding-right: 16pt;
  font-size: 1em;
  line-height: 1.4em;
  margin-left: 28pt;
  margin-bottom: 4pt;
  text-indent: 0em;
}

/* line 26, ../sass/partials/line/_toc.scss */
li.TOCRM {
  padding-right: 16pt;
  font-size: 1em;
  line-height: 1.4em;
  margin-left: 28pt;
  margin-bottom: 4pt;
  text-indent: 0em;
}

/* line 34, ../sass/partials/line/_toc.scss */
li.chap.TOCCHAP {
  padding-right: 16pt;
  font-size: 1em;
  line-height: 1.4em;
  margin-left: 28pt;
  margin-bottom: 4pt;
  text-indent: -40pt;
}

/* line 42, ../sass/partials/line/_toc.scss */
li.part.TOCPART {
  padding-top: 0;
  text-indent: 0;
  font-size: 1em;
  line-height: 1.4em;
  margin: 20pt 0 4pt 0;
  text-indent: 0;
}

/* line 50, ../sass/partials/line/_toc.scss */
#contents ul {
  text-align: left;
  list-style-type: none;
  margin-top: 2em;
}

/* line 55, ../sass/partials/line/_toc.scss */
.TOCPART span.num {
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 2em 0 0 0;
  padding-right: 4pt;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

/* line 65, ../sass/partials/line/_toc.scss */
.TOCCHAP span.num {
  display: inline-block;
  width: 32pt;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding-right: 4pt;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

/* line 76, ../sass/partials/line/_toc.scss */
.TOCCHAP {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  font-size: 1em;
  font-style: normal;
  line-height: 1.167;
  margin-right: 30%;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
}

/* line 87, ../sass/partials/line/_toc.scss */
.TOCPART a {
  -webkit-hyphens: none;
  text-transform: uppercase;
  letter-spacing: .15em;
}

/* line 92, ../sass/partials/line/_toc.scss */
.TOCCHAP a {
  -webkit-hyphens: none;
}

/* line 95, ../sass/partials/line/_toc.scss */
.TOCFM a {
  -webkit-hyphens: none;
  font-style: italic;
}

/* line 99, ../sass/partials/line/_toc.scss */
.TOCRM a {
  -webkit-hyphens: none;
  font-style: italic;
}

/* counter reset for TOC--------------
ul.toc_bd_list {
	counter-reset: LiChapterNo;
}leader
#contents .TOCCHAP  a:after, #contents .toc_rm_list  a:after { 
	content: " " target-counter(attr(href, url), page);
}
#contents .toc_fm_list  a:after { 
	content: " " target-counter(attr(href, url), page, lower-roman);
}
.TOCNUM, #contents li .num { 
	display: inline-block;
	width:32pt;
	font-family: SAT_semibold;
	text-align: right;
	margin: 0;
	padding-right: 4pt;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 11pt;
	counter-increment: LiChapterNo;
	content: " " counter(LiChapterNo);
}*/
/* content: leader(".") " " across the page */
/*-----------------foot/end notes-----------------------*/
/* line 2, ../sass/partials/line/_notes.scss */
.FN {
  font-size: 10pt;
  line-height: 12pt;
  color: red;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

/* line 11, ../sass/partials/line/_notes.scss */
.EN {
  font-size: 10pt;
  line-height: 12pt;
  color: blue;
  text-align: justify;
  text-indent: 12pt;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/partials/line/_notes.scss */
.NFIRST {
  text-indent: 0;
}

/* line 25, ../sass/partials/line/_notes.scss */
.NTEXT {
  text-indent: 12pt;
}

/* line 28, ../sass/partials/line/_notes.scss */
.note {
  font-size: 9pt;
  padding: 0;
  line-height: 10pt;
  margin: 0;
  vertical-align: super;
}

/* end note page */
/* line 36, ../sass/partials/line/_notes.scss */
.ENNUM {
  float: left;
  font-size: 10pt;
  text-indent: 12pt;
  margin-left: 0pt;
  line-height: 11.75pt;
}

/* line 43, ../sass/partials/line/_notes.scss */
#end-notes ul {
  font-size: 10pt;
  line-height: 12pt;
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/partials/line/_notes.scss */
.ENITEM {
  clear: both;
  text-align: justify;
  text-indent: 0;
}

/* line 54, ../sass/partials/line/_notes.scss */
.ENITEM .NFIRST {
  text-indent: 0;
}

/* line 57, ../sass/partials/line/_notes.scss */
.ENITEM span > span {
  text-indent: 15pt;
  margin-right: 18.75pt;
}

/* line 1, ../sass/partials/line/_paras.scss */
.EXT, .EXT1st, .EXTMd, .EXTLs {
  font-family: SAT_regular, serif;
  font-size: 11pt;
  line-height: 16pt;
  font-style: normal;
  margin-left: 15pt;
  margin-right: 15pt;
  margin-top: 16pt;
  text-align: justify;
  text-decoration: none;
  text-indent: 0px;
  margin-bottom: 16pt;
}

/* line 16, ../sass/partials/line/_paras.scss */
.BM-TXT {
  font-family: SAT_regular, sarif;
}

/*remove indent for fist paragraph of all sub sections */
/* line 21, ../sass/partials/line/_paras.scss */
.BMFIRST {
  font-family: SAT_regular, sarif;
  text-indent: 0;
  margin-top: 32pt;
}

/* line 29, ../sass/partials/line/_paras.scss */
.CPYINFO, #copyright p {
  -webkit-hyphens: none;
  color: Black;
  font-family: SAT_regular, serif;
  text-indent: 0;
  font-size: 8.8125pt;
  line-height: 12pt;
  text-align: left;
  margin-left: 16pt;
}

/* line 41, ../sass/partials/line/_paras.scss */
.SIG {
  text-align: right;
  font-family: SAT_italic, italic;
}

/* line 45, ../sass/partials/line/_paras.scss */
.SIDE {
  color: gray;
  line-height: 14pt;
  float: left;
  margin-left: -10px;
  page-break-inside: avoid;
  width: 150px;
  text-align: left;
  padding: 1em 1em 0 0;
  font-family: SAT_semibold;
  font-size: 11pt;
}

/* line 60, ../sass/partials/line/_paras.scss */
.EXT1st {
  margin-bottom: 0px;
}

/* line 64, ../sass/partials/line/_paras.scss */
.EXTMd {
  margin-bottom: 0px;
  text-indent: 12pt;
}

/* line 69, ../sass/partials/line/_paras.scss */
.EXTLs {
  text-indent: 12pt;
}

/* line 74, ../sass/partials/line/_paras.scss */
.DED {
  hyphens: none;
  font-family: SAT_italic;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}

/* line 90, ../sass/partials/line/_paras.scss */
.RMFIRST {
  font-size: 10pt;
  line-height: 12pt;
  text-indent: 0;
}

/* line 95, ../sass/partials/line/_paras.scss */
.RMTXT {
  font-size: 10pt;
  line-height: 12pt;
  text-indent: 12pt;
}

/* line 100, ../sass/partials/line/_paras.scss */
.BIB {
  font-size: 10pt;
  line-height: 12pt;
  margin-left: 12pt;
  text-indent: -12pt;
}

/* line 3, ../sass/partials/line/_toc.scss */
#contents {
  margin: 0;
}

/* line 6, ../sass/partials/line/_toc.scss */
#contents .toc_bd {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/partials/line/_toc.scss */
#contents .toc_fm {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/line/_toc.scss */
#contents .toc_rm {
  margin: 20pt 0 0 0;
  padding: 0;
}

/* line 18, ../sass/partials/line/_toc.scss */
li.TOCFM {
  padding-right: 16pt;
  font-size: 1em;
  line-height: 1.4em;
  margin-left: 28pt;
  margin-bottom: 4pt;
  text-indent: 0em;
}

/* line 26, ../sass/partials/line/_toc.scss */
li.TOCRM {
  padding-right: 16pt;
  font-size: 1em;
  line-height: 1.4em;
  margin-left: 28pt;
  margin-bottom: 4pt;
  text-indent: 0em;
}

/* line 34, ../sass/partials/line/_toc.scss */
li.chap.TOCCHAP {
  padding-right: 16pt;
  font-size: 1em;
  line-height: 1.4em;
  margin-left: 28pt;
  margin-bottom: 4pt;
  text-indent: -40pt;
}

/* line 42, ../sass/partials/line/_toc.scss */
li.part.TOCPART {
  padding-top: 0;
  text-indent: 0;
  font-size: 1em;
  line-height: 1.4em;
  margin: 20pt 0 4pt 0;
  text-indent: 0;
}

/* line 50, ../sass/partials/line/_toc.scss */
#contents ul {
  text-align: left;
  list-style-type: none;
  margin-top: 2em;
}

/* line 55, ../sass/partials/line/_toc.scss */
.TOCPART span.num {
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 2em 0 0 0;
  padding-right: 4pt;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

/* line 65, ../sass/partials/line/_toc.scss */
.TOCCHAP span.num {
  display: inline-block;
  width: 32pt;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding-right: 4pt;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

/* line 76, ../sass/partials/line/_toc.scss */
.TOCCHAP {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  font-size: 1em;
  font-style: normal;
  line-height: 1.167;
  margin-right: 30%;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
}

/* line 87, ../sass/partials/line/_toc.scss */
.TOCPART a {
  -webkit-hyphens: none;
  text-transform: uppercase;
  letter-spacing: .15em;
}

/* line 92, ../sass/partials/line/_toc.scss */
.TOCCHAP a {
  -webkit-hyphens: none;
}

/* line 95, ../sass/partials/line/_toc.scss */
.TOCFM a {
  -webkit-hyphens: none;
  font-style: italic;
}

/* line 99, ../sass/partials/line/_toc.scss */
.TOCRM a {
  -webkit-hyphens: none;
  font-style: italic;
}

/* counter reset for TOC--------------
ul.toc_bd_list {
	counter-reset: LiChapterNo;
}leader
#contents .TOCCHAP  a:after, #contents .toc_rm_list  a:after { 
	content: " " target-counter(attr(href, url), page);
}
#contents .toc_fm_list  a:after { 
	content: " " target-counter(attr(href, url), page, lower-roman);
}
.TOCNUM, #contents li .num { 
	display: inline-block;
	width:32pt;
	font-family: SAT_semibold;
	text-align: right;
	margin: 0;
	padding-right: 4pt;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 11pt;
	counter-increment: LiChapterNo;
	content: " " counter(LiChapterNo);
}*/
/* content: leader(".") " " across the page */
