
// ${scope}-{feature}-{property}-{value}-{modifier} 

@mixin doc-rh-font {
  font-family: $doc-rh-font-family;
  font-size: $doc-rh-font-size;
}
// left or right running head mixins 
@mixin section-running-head($pagename,$align,$page) {
  @page $pagename:$page {
  @top {
    @content;
	text-align: $align;
	@include doc-rh-font; 
    }
  }
}
// first running head mixins
@mixin section-running-head-first($pagename) {
  @page $pagename:first {
  margin-bottom: $section-firstdoc-margin-bottom;
  @bottom {
    @content;
	@include doc-rh-font; 
    }
  @top {
    content: ""; 
    }
  }
}
// blank running head mixins 
@mixin section-running-head-blank($pagename) {
  @page $pagename:blank {
  @bottom {
    content: "";
  }

  @top {
    content: "";
  }
  }
}
