$base-font-family: SAT_regular, sarif;
$base-text-align: justify;


$base-font-size: 11.75pt;
$base-line-height: 16pt;
$base-text-indent: 15pt;

$base-padding: $base-line-height * .375;

$base-line-height-half: $base-line-height / 2;
$base-line-height-dub: $base-line-height * 2;

$base-font-size-trip: $base-line-height * 3;

$caption-font-size: $base-font-size * .85;
$caption-line-height: $base-line-height * .8125;

@mixin base-font-heading ($base-font-family:SAT_regular, $mutliplyer:1,$my-color:inherit){
	-webkit-hyphens:none;
	hyphens:none;
	font-family:#{$base-font-family};
	letter-spacing: .15em;
	text-transform:uppercase;
	text-align: center;
	color:$my-color;
	font-size:$base-font-size * $mutliplyer;
	line-height: $base-line-height * $mutliplyer;
	margin-top: $base-font-size * $mutliplyer;

}

body {
	font-family: $base-font-family;
	font-size:$base-font-size;
	line-height: $base-line-height;
	text-indent: $base-text-indent;
	text-align: $base-text-align;
	margin: 0;
}


/* title page title */
#title h1 {
	@include base-font-heading($my-color:pink);
	font-size:$base-font-size * 2.72; /* 32pt */
	line-height: $base-line-height * 2.125; /* 34pt */
	margin-top: $base-font-size * 2.72; /* 32pt; */
}
/* title page subtitle */
#title h3 {
	@include base-font-heading($mutliplyer:154);

	letter-spacing: .1em;
}
/* title page author */
#title h4 {
	@include base-font-heading;
	margin-top:72pt;
	font-size:18pt;
	text-indent:0;
}
/* half title page title */
#half-title h1  {
	@include base-font-heading;
	font-size:26pt;
	line-height: 28pt;
	margin-top: 48pt;
}
/* chapter title */
#body-matter h2 {
	@include base-font-heading;
	font-size:18pt;
	margin-bottom:72pt;
	letter-spacing: .1em;
	+#body-matter h3{
	margin-top:36pt;
	
	}
	+ p {
	
	text-indent:0;
	}
	
}
/* chapter subtitle */
#body-matter h3 {
	@include base-font-heading;	
	margin-bottom:36pt;
	font-size:11pt;
	+ p {
	
	text-indent:0;
	}
}
/* chapter number */
.CHAPNUM {
	text-align:center;
	font-size: 16pt;
	line-height: 16pt; 
	font-family: SAT_semibold; 
	margin-top: 48pt;
	margin-bottom: 48pt; 
	text-transform: none
}
/* part num */
.PARTNUM {
	hyphens:none;
	font-family: SAT_semibold;
	text-align:center;
	font-size: 16pt;
	line-height: 16pt;
	margin:80pt 0 48pt 0; 
	text-transform: uppercase;
	letter-spacing: .1em;
}
/* part title */
.PARTTTL {
	-webkit-hyphens:none;
	font-family:SAT_regular;
	font-size:30pt;
	line-height: 34pt;
	letter-spacing: .15em;
	text-transform:uppercase;
}
/* front matter title */
#front-matter h2 {
	text-align:center;
	font-size: 16pt;
	line-height: 16pt;
	margin:80pt 0 64pt 0; 
	text-transform: uppercase;
	letter-spacing: .1em;
}
/* rear matter title */
#rear-matter h2 {
	text-align:center;
	font-size: 16pt;
	line-height: 16pt;
	margin:80pt 0 64pt 0; 
	text-transform: uppercase;
	letter-spacing: .1em;
}

/* a */
h4 {
	font-family:SAT_regular, serif;
	-epub-hyphens:none;
	-webkit-hyphens:none;
	font-size:11pt;
	font-style:normal;
	font-weight:normal;
	margin: 24pt 0 8pt;
	margin-bottom:8pt;
	margin-left:0;
	margin-right:0;
	margin-top:24pt;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-decoration:none;
	text-indent:0px;
	+ ol {
		margin-top:0;
	}
	+ ul {
		margin-top:0;
	}
	+ .B {
		margin-top: 0;
	}
	+ p {
		text-indent: 0;
	}
}
/* b */
h5 {
	font-family:SAT_italic, serif;
	font-size:12.25pt;
	font-style: normal;
	font-weight: normal;
	margin:26pt 0 6pt 0;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	+ ol {
		margin-top:0;
	}
	+ ul {
		margin-top:0;
	}
	+ .C {
		margin-top: 0;
	}
	+ p {
		text-indent: 0;
	}
}
/*h6*/
.C {
	font-family:SAT_regular, serif;
	font-size:10.75pt;
	margin: 14pt 0 1pt 0;
	+ ol {
		margin-top:0;
	}
	+ ul {
		margin-top:0;
	}
	
	+ p {
		text-indent: 0;
	}
}
.CRUNIN {
	font-family:SAT_regular, serif;
	font-style:normal;
	margin:16pt 0 0 0;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.runin-C {
	padding-right: .75em;
	font-weight: bold;
}



/*.RMA  */
#rear-matter h3{
	font-family: SAT_semibold;
	font-size: 9.5pt;
	line-height: 12pt;
	text-transform: uppercase;
	margin: 20pt 0 4pt 0;
	letter-spacing: .1em;
	text-indent: 0;
}