/* three dot text break "\a0" is a utf-8 space "\2022" is a dot */
@mixin base-dingbat($inner-content:"\2022 \a0 \a0 \a0 \a0 \a0 \2022 \a0 \a0 \a0 \a0 \a0 \2022 "){
	text-align: center;
	line-height: $base-line-height;
	margin: $base-half-line-space 0 $base-half-line-space 0;
	content: $inner-content;
}

.TXBDINGBATS {
@include base-dingbat;
}
*[class*='TXB']{
@include base-dingbat("");
+ p { text-indent:0; }
}
