// If something is the same for all headings put it here
%base-heading {
	-webkit-hyphens:none;
	hyphens:none;
	
	//change from center to left
	
	text-indent:0;
	page-break-inside: avoid;
}
// if something will change across heading put it here
@mixin base-font-heading ($font-family:SAT_regular, 
						  $multiplyer:1,
						  $font-size:$base-font-size * $multiplyer,
						  $line-height: $base-line-height * $multiplyer,
						  $margin-top: $base-font-size * $multiplyer,
						  $letter-spacing: .15em,
						  $text-transform:uppercase,
						  $text-align: center){
	
	font-family:#{$font-family};
	font-size:$font-size;
	line-height: $line-height;
	margin-top: $margin-top;
	letter-spacing: $letter-spacing;
	text-transform:$text-transform;
	text-align: $text-align;
	@extend %base-heading;
}
%title-next-sibling {
	+ p { text-indent:0; margin-top: $base-two-line-space;}
}
%heading-next-sibling {
	+ ol {margin-top:0;}
	+ ul {margin-top:0;}
	+ [class$="B"] {  margin-top: 0;}
	+ [class$="C"]{	margin-top: 0;}
	+ p { text-indent: 0;  margin-top: $base-two-line-space;}
}
/* title page title h1*/
.TTLPGTTL {
	@include base-font-heading($multiplyer:2.75);
	}

/* title page subtitle h3*/
.TTLPGSUB {
	@include base-font-heading($font-family: 'SAT_italic, italic',$multiplyer:1.7, $letter-spacing: .1em);
	
}
/* title page author h4*/
.TTLPGAU {
	@include base-font-heading($multiplyer:1.5, $margin-top: $base-three-line-space);
	
}
.CONTRIB {
	@include base-font-heading;
}
/* half title page title h1*/
.HTTLPGTTL  {
	@include base-font-heading($multiplyer:2.25, $margin-top: $base-three-line-space);

}
/* chapter title h2*/
.CHAPTTL {
	@include base-font-heading($multiplyer:1.5);
	@extend %title-next-sibling;
}
/* chapter subtitle h3*/
.CHAPSUB {
	@include base-font-heading($margin-top:$base-two-line-space);	
	@extend %title-next-sibling;
}
/* chapter number h6*/
.CHAPNUM {
	@include base-font-heading($font-family: SAT_semibold, $multiplyer:1.33, $margin-top:$base-three-line-space);	
}
/* part num */
.PARTNUM {
	@include base-font-heading($font-family: SAT_semibold, $multiplyer: 1.5, $margin-top:$base-three-line-space);

}
/* part title */
.PARTTTL {
	@include base-font-heading($multiplyer:1.5);
}
/* front matter title */
.FMTTL {
	@include base-font-heading($multiplyer: 1.5, $margin-top:$base-three-line-space);

}
/* rear matter title */
.RMTTL {
	@include base-font-heading($multiplyer: 1.5, $margin-top:$base-three-line-space);

}
/* a */
h4, [class$="A"] {
	@include base-font-heading;
@extend %heading-next-sibling;
	
}

/* b */
h5, FMB, BMB, RMB, B {
	@include base-font-heading('SAT_italic, serif', $margin-top: $base-two-line-space);
	@extend %heading-next-sibling;

}
/*c*/
[class$="C"] {
	@include base-font-heading($multiplyer: .9);
	@extend %heading-next-sibling;
}
.CRUNIN {
	margin-top:$base-line-height;
	text-align:justify;
	text-indent:0px;
}


