// If something is the same for all headings put it here
%base-heading {
	-webkit-hyphens:none;
	hyphens:none;
	text-decoration:none;

	display:block;
	text-indent:0;
}
// if something will change across heading put it here
//change from center to left
@mixin base-font-heading ($font-family:SAT_regular, 
						  $multiplyer:1,
						  $font-size:$base-font-size * $multiplyer,
						  $line-height: $base-line-height * $multiplyer,
						  $margin-top: $base-font-size * $multiplyer,
						  $letter-spacing: .15em,
						  $text-transform:uppercase,
						  $text-align: center){
	
	font-family:#{$font-family};
	font-size:$font-size;
	line-height: $line-height;
	text-align: $text-align;
	margin-top: $margin-top;
	letter-spacing: $letter-spacing;
	text-transform:$text-transform;
	@extend %base-heading;
}
%masculine-heading {
	background-color:black;
	color:white;
	padding-left:5pt;

}
/* title page title h1*/
.TTLPGTTL {
	@include base-font-heading($font-family:SAT_disp_bold, $multiplyer:2.75, $letter-spacing:.05em, $text-align: left);
	
	}
/* title page subtitle h3*/
.TTLPGSUB {
	@include base-font-heading('SAT_italic, italic',1.7, $letter-spacing: .1em, $margin-top:72pt, $text-align: left);
	@extend %masculine-heading;
}
/* title page author h4*/
.TTLPGAU {
	@include base-font-heading($multiplyer:1.5, $margin-top:72pt, $text-align: left);
	
		
}
.CONTRIB {
	@include base-font-heading;
}
/* half title page title h1*/
.HTTLPGTTL  {
	@include base-font-heading($multiplyer:2.25, $margin-top: 48pt, $text-align: left);
	
}
%title-next-sibling {
	+ p { text-indent:0; margin-top:$base-line-height-dub;}
}
/* chapter title h2*/
.CHAPTTL {
	@include base-font-heading($multiplyer:1.5, $margin-top: 48pt, $text-align: left);
	@extend %masculine-heading;
	@extend %title-next-sibling;
}
/* chapter subtitle h3*/
.CHAPSUB {
	@include base-font-heading;	
	@extend %title-next-sibling;
}
/* chapter number h6*/
.CHAPNUM {
	@include base-font-heading($font-family: SAT_semibold, $multiplyer:1.33, $margin-top: 48pt);	
 
}
/* part num */
.PARTNUM {
	@include base-font-heading($font-family: SAT_semibold, $multiplyer: 1.5, $margin-top: 48pt);
	@extend %masculine-heading;
	 
}
/* part title */
.PARTTTL {
	@include base-font-heading($multiplyer:1.5);
}
/* front matter title */
.FMTTL {
	@include base-font-heading($multiplyer: 1.5, $margin-top: 48pt, $text-align: left);
	@extend %masculine-heading;
	 
}
/* rear matter title */
.RMTTL {
	@include base-font-heading($multiplyer: 1.5, $margin-top: 48pt, $text-align: left);
	@extend %masculine-heading;

}
%heading-next-sibling {
	+ ol {margin-top:0;}
	+ ul {margin-top:0;}
	+ [class$="B"] {  margin-top: 0;}
	+ [class$="C"]{	margin-top: 0;}
	+ p { text-indent: 0;  margin-top: $base-line-height-dub;}
}
/* a */
h4, [class$="A"] {
	@include base-font-heading;
	@extend %heading-next-sibling;
}

/* b */
h5, .FMB, .BMB, .RMB, .B {
	@include base-font-heading('SAT_italic, serif', $text-align:left, $margin-top:$base-line-height);
	@extend %heading-next-sibling;
}
/*c*/
[class$="C"] {
	@include base-font-heading( $text-align:left, $multiplyer: .10);
	@extend %heading-next-sibling;
}
.CRUNIN {
	margin-top:$base-font-size;
	text-align:justify;
	text-indent:0px;
}


