@mixin base-text-para-ext {
	font-family:SAT_regular, serif;
	font-size:11pt;
	line-height: 16pt;
	font-style:normal;
	margin-left:15pt;
	margin-right:15pt;
	margin-top:16pt;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
	margin-bottom:16pt;
	
}

.BM-TXT {
	font-family:$base-font-family;
}
/*remove indent for fist paragraph of all sub sections */

.BMFIRST {

	font-family:$base-font-family;
	text-indent:0;
	margin-top: $base-line-height-dub;

}

.CPYINFO, #copyright p {

	-webkit-hyphens:none;
	color:Black;
	font-family:SAT_regular, serif;
	text-indent:0;
	font-size:$base-font-size * .75;
	line-height: $base-line-height * .75;
	text-align:left;
	margin-left:16pt;
}

.SIG {
	text-align: right;
	font-family: SAT_italic, italic;
}
.SIDE {
	color: gray;
	line-height: 14pt;
	float: left;
	width: 150px;
	text-align: left;
	padding: 1em 1em 0 0;
	font-family: SAT_semibold;
	font-size: 11pt;
}
.EXT {
	@include base-text-para-ext;
}
.EXT1st {
	@include base-text-para-ext;
	margin-bottom:0px;
}
.EXTMd {
	@include base-text-para-ext;
	margin-bottom:0px;
	text-indent:12pt;
}
.EXTLs {
	@include base-text-para-ext;
	text-indent:12pt;
}

.DED {

	hyphens:none;
	font-family:SAT_italic;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin:0 0 0 0;
	text-align:center;
	text-decoration:none;
	text-indent:0;
}


.RMFIRST {
	font-size: 10pt;
	line-height: 12pt;
	text-indent: 0;
}
.RMTXT {
	font-size: 10pt;
	line-height: 12pt;
	text-indent: 12pt;
}	
.BIB {
	font-size: 10pt;
	line-height: 12pt;
	margin-left:12pt;
	text-indent: -12pt;
}
